{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authorization</title>
    <link rel="stylesheet" href="{% static 'login.css' %}">

</head>
<body>
    <h1> Authorization </h1>
    <form action="{% url 'users:login' %}" method="post" class="login-form">
        <!--{% csrf_token %}-->
        {{ form.as_p }}
            <p><button type="submit" name="submit_button_login" id="submit_button_login" class="submit-button">Enter</button>
            </p>
    </form>
</body>
</html>